body{
    background-image: url('https://t.ctcdn.com.br/bn2y60CP8tjBQW2GBvqsfRVoIXI=/i499889.png');
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: rgb(157, 128, 168);
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}

input{
    margin-top: 120px;
    width: 190px;
}
div#res{
    margin-top: 37px;

}
h1{
    background-color: rgba(245, 222, 179, 0.674);
    border-radius: 15px;
    text-align: center;
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}